<%- include("includes/head.ejs", {title: "Home"}) %>

<body>
    <h1>Total number of users: <%=usercount%></h1>
    <a href="http://localhost:8080/user"><button>All Users</button></a>
    <a href="http://localhost:8080/user/new"><button>Join us today!</button></a>
</body>
</html>